* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.customer-table {
  width: 100vw;
  height: 100vh;
  border-radius: 0.8rem;
  overflow: auto;
}
.customer-table-header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customer-table-header .customer-tabler-search {
  width: 35%;
  height: 100%;
  background-color: rgba(187, 180, 180, 0.333);
  padding: 0;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.customer-table-header .customer-tabler-search input {
  width: 100%;
  padding: 0 0.5rem 0 0.3rem;
  background-color: transparent;
  border: none;
  outline: none;
}
.customer-table-header .customer-tabler-search:hover {
  width: 45%;
  background-color: #fff8;
  box-shadow: 0 0.1rem 0.4rem #0002;
}
.customer-table-body {
  width: 95%;
  max-height: calc(89%-0.8rem);
  background-color: #fffb;
  margin: 0.8rem auto;
  border-radius: 0.6rem;
  overflow: auto;
  overflow: overlay;
}
table {
  width: 100%;
}
td img {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
  border-radius: 50%;
  vertical-align: middle;
}
table,
th,
td {
  text-align: center;
  border-collapse: collapse;
  padding: 1rem;
}
thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  cursor: pointer;
}
tbody tr:nth-child(even) {
  background-color: #0000000b;
}
tbody tr {
  --delay: 0.1s;
  transition: 0.5s ease-in-out var(--delay), background-color 0s;
}
tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}
tbody tr:hover {
  background-color: rgba(216, 213, 213, 0.4) !important;
}
tbody tr td,
tbody tr td p,
tbody tr td p img {
  transition: 0.2s ease-in-out;
}
tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0/0 sans-serif;
  transition: 0.2s ease-in-out 0.5s;
}
tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: 0.2s ease-in-out 0.5s;
}
thead th span.icon-arrow {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1.4px solid transparent;
  text-align: center;
  font-size: 1rem;
  margin-left: 0.5rem;
  transition: 0.2s ease-in-out;
}
thead th:hover span.icon-arrow {
  border: 1.4px solid #6c00bd;
}
thead th:hover {
  color: #6c00bd;
}
thead th.active span.icon-arrow {
  background-color: #6c00bd;
  color: #fff;
}
thead th.asc span.icon-arrow {
  transform: rotate(180deg);
}
thead th.active,
tbody td.active {
  color: #6c00bd;
}
.customer-order {
  width: 90vw;
  height: 70vh;
  position: fixed; /* Đảm bảo phần tử ở cố định trong cửa sổ trình duyệt */
  left: 50%; /* Đưa phần tử về giữa theo chiều ngang */
  top: 50%; /* Đưa phần tử về giữa theo chiều dọc */
  transform: translate(
    -50%,
    -50%
  ); /* Dịch chuyển phần tử trở lại 50% kích thước của chính nó ở cả chiều ngang và dọc để canh giữa hoàn toàn */
  z-index: 9999; /* Đảm bảo phần tử hiển thị trên các phần tử khác */
  background-color: white;
  border-radius: 0.6rem;
  padding: 1rem;
  overflow: hidden;
  display: none;
}
.customer-order .customer-order-table {
  width: 100%;
  height: 90%;
  overflow: auto;
}

.customer-order i {
  font-size: 30px;
  transform: translateY(-5%);
  display: flex;
  justify-content: center;
}
.open-customer-order {
  display: flex;
  flex-direction: column;
}
.blur-background {
  filter: blur(10px); /* Điều chỉnh mức độ làm mờ tại đây */
}
