.dashboard-admin {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
  width: calc(100%-250px);
}
.dashboard-admin .dashboard-admin-box {
  width: 20%;
  height: 100px;
  box-shadow: 0 0 5px rgba(48, 46, 46, 0.5);
  text-align: center;
  padding: 10px;
}
.dashboard-admin .dashboard-admin-box p {
  color: rgb(166, 168, 168);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.dashboard-admin-table {
  display: flex;
  justify-content: center;
}
.dashboard-admin-table table {
  width: 90%;
  border-collapse: collapse;
  border: 1px solid black;
  align-items: center;
}
.dashboard-admin-table table th,
.dashboard-admin-table table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.dashboard-admin-table table td:last-child {
  width: 160px;
}
.dashboard-admin-table table tr:hover {
  background-color: #f1f1f1;
}
.dashboard-admin-table table th {
  background-color: #f2f2f2;
  cursor: pointer;
}
button {
  color: #f1f1f1;
  border-radius: 3px;
  width: 70px;
  border: none;
  height: 25px;
  width: 25px;
}
.btn-edit {
  background-color: rgb(254, 204, 0);
}
.btn-edit:hover {
  background-color: rgb(255, 224, 48);
}
.btn-delete {
  background-color: rgb(205, 23, 23);
}
.btn-delete:hover {
  background-color: rgba(248, 12, 12, 0.945);
}
/* Ẩn form mặc định */
.dashboard-admin-form {
  display: none;
}
.dashboard-admin-form button {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Hiển thị form khi có lớp 'show' và căn giữa */
.dashboard-admin-form.show {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #090808;
  color: #f2f2f2;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  width: 300px;
}

/* Thêm một lớp nền mờ phía sau form */
.dashboard-admin-form-backdrop {
  display: none;
}

.dashboard-admin-form-backdrop.show {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
