body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-order {
  width: 100vw;
  height: 100vh;
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;
  overflow: auto;
}
.list-order-item {
  width: 95%;
  max-height: calc(89%-0.8rem);
  background-color: #fffb;
  margin: 0.8rem auto;
  border-radius: 0.6rem;
  overflow: auto;
  overflow: overlay;
}
table {
  width: 100%;
}
table,
th,
td {
  text-align: center;
  border-collapse: collapse;
  padding: 1rem;
}
thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  cursor: pointer;
}
tbody tr {
  border: 1px solid black;
}
