* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.sidebar {
  position: absolute;
  top: 80px;
  left: 0;
  height: 100vh;
  width: 80px;
  background-color: rgb(239, 235, 235);
  padding: 0.4rem 0.8rem;
  transition: all 0.5s ease;
}
/* .sidebar.active ~ .header {
  left: 250px;
  width: calc(100% - 250px) !important;
  transition: all 0.5s ease;
} */
.sidebar.active {
  width: 250px;
}
.sidebar #btn {
  position: absolute;
  color: aliceblue;
  top: 0.4rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
.sidebar.active #btn {
  left: 90%;
}
.sidebar .sidebar-logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  /* opacity: 0; */
}
.sidebar.active .sidebar-logo {
  opacity: 1;
}
.sidebar-top .sidebar-logo i {
  font-size: 2rem;
  margin-right: 5px;
}
.sidebar ul li {
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: 0.8rem auto;
  line-height: 50px;
}
.sidebar ul li a {
  color: #5d5a5a;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.8rem;
}
.sidebar ul li a:hover {
  background-color: #fff;
  color: black;
}
.sidebar ul li a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
}
.sidebar .sidebar-item {
  opacity: 0;
}
.sidebar.active .sidebar-item {
  opacity: 1;
}
.sidebar ul li .sidebar-tooltip {
  position: absolute;
  left: 125px;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  padding: 0.4rem 1.2rem;
  line-height: 1.8rem;
  z-index: 20;
  opacity: 0;
}
.sidebar ul li:hover .sidebar-tooltip {
  opacity: 1;
}
.sidebar.active ul li .sidebar-tooltip {
  display: none;
}
.sidebar-item-show {
  position: static;
  display: none;
}
.sidebar.active .sidebar-item-show.show {
  display: block;
  width: 200px;
  margin-left: 20px;
}
.sidebar-item-show li {
  line-height: 30px;
  border-bottom: none;
}
.sidebar-item-show li a {
  color: rgb(239, 234, 234);
  background: rgb(239, 235, 235);
  border-left-color: transparent;
}
.header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  left: 0; /* Adjust based on the sidebar width */
  /* width: calc(100% - 80px); Adjust based on the sidebar width */
  width: 100%;
  height: 80px;
  background-color: black;
  padding: 1rem;
  box-sizing: border-box; /* Include padding in the width calculation */
  color: white; /* For better visibility */
}
.header .sidebar-top {
  display: flex;
  justify-content: space-between;
  width: 80px;
}
.header .sidebar-top.show1 {
  width: 250px;
}
.header .sidebar-top .sidebar-logo img {
  width: 40px;
  height: auto;
  margin-right: 20px;
}
.header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex-grow: 1;
}
.header .header-content i {
  font-size: 1.6rem;
}
.header .header-content ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header .header-content ul .header-item {
  margin-left: 20px;
}

.header .header-content ul .header-item a {
  text-decoration: none;
  font-size: 20px;
  color: #fff; /* White color for better visibility on black background */
}
.header .header-search {
  width: 35%;
  height: 80%;
  background-color: rgba(187, 180, 180, 0.333);
  padding: 0;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.header .header-content .header-search input {
  width: 100%;
  padding: 0 0.5rem 0 0.3rem;
  background-color: transparent;
  border: none;
  outline: none;
}
.header .header-content .header-search:hover {
  width: 45%;
  background-color: #fff8;
  box-shadow: 0 0.1rem 0.4rem #0002;
}
.sidebar-top span {
  display: none;
}

.sidebar-top span.show {
  display: inline;
  font-size: 30px;
}
