<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head('Mua hàng', 'none')}"></head>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">

<style>
    body {
        background-color: #f8f7f7;
    }

    main.card-table {
        min-height: 100vh;
        padding: 20px;
        background: rgb(248, 247, 247);
    }

    table {
        width: 100%;
        border-spacing: 0 20px;
    }

    table thead,
    tbody {
        background-color: rgb(255, 255, 255);
    }

    table tr {
        border-radius: 3px;
        box-shadow: 0 0 1px rgba(175, 174, 174, 0.5);
    }

    table th,
    td {
        padding: 15px;
        text-align: center;
    }

    .card-contain-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
    }

    .card-contain-button input,
    .card-total-price-button input {
        width: 20px;
        height: 20px;
        border: 2px solid #333;
        border-radius: 4px;
        outline: none;
        accent-color: red;
    }

    .card-product {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .card-product img {
        width: 80px;
        height: 80px;
        border-radius: 5px;
        margin-right: 10px;
    }

    .card-product-name {
        font-size: 20px;
        padding: 10px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }

    .card-quantity {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-quantity input {
        width: 40px;
        text-align: center;
        border: 1px solid #cbc0c0;
        margin: 0 5px;
    }

    .card-quantity button {
        width: 30px;
        height: 30px;
        outline: none;
        background: none;
        border: 1px solid #cbc0c0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .card-quantity button:hover {
        background-color: #ececec;
    }

    .card-total-price table {
        border-spacing: 0 0;
        width: 100%;
    }

    .card-total-price table td {
        text-align: center;
    }

    .card-total-price-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-delete {
        cursor: pointer;
        color: #d9534f;
    }

    .card-delete:hover {
        text-decoration: underline;
    }

    .card-total-price-button label {
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .card-total-price-button input {
        margin-right: 5px;
    }


    .breadcrumb-container {
        margin: 20px auto;
        margin-top: 15px;
        padding: 15px 10px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .breadcrumb {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        background: none;
        padding: 0;
        margin: 0;
    }

    .breadcrumb-item a {
        text-decoration: none;
        /* color: #686868; */
        color: black;
        text-align: center;
    }

    .breadcrumb-item a:hover {
        font-weight: bold;
    }

    .breadcrumb-item span {
        margin-right: 10px;
    }

    .breadcrumb-item + .breadcrumb-item::before {
        content: "";
    }

    .breadcrumb-item a.active {
        font-weight: bold;
        color: #FF2033; /* Màu đỏ hoặc màu bạn muốn sử dụng để làm nổi bật */
    }


    /*section payment*/

    .modal-content {
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .modal-header {
        background-color: #007bff;
        color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .modal-footer {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .list-group-item {
        cursor: pointer;
    }
    .list-group-item:hover {
        background-color: #f0f0f0;
    }

    .list-group-item {
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .list-group-item:hover {
        background-color: #f0f0f0;
    }

</style>

<header th:replace="~{fragments :: header-fragment}"></header>

<body>


<main class="card-table container mb-3">

    <nav aria-label="breadcrumb" class="breadcrumb-container container">
        <ol class="breadcrumb ">
            <li class="breadcrumb-item">
                <a href="/combo">
                    <span><i class="fas fa-shopping-cart" aria-hidden="true"></i></span>Đặt hàng
                </a>
            </li>
            <li class="breadcrumb-item active">
                <a href="/cart">
                    <span><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>Chỉnh sửa
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="/checkout" class="active">
                    <span><i class="bi bi-coin"></i></span>Thanh toán
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">
                    <span><i class="fa fa-check" aria-hidden="true"></i></span>Xác nhận
                </a>
            </li>
        </ol>
    </nav>

    <section class="order_address mb-4">
        <input type="hidden" id="userId" th:value="${userId}">
        <div class="card">
            <div class="card-header">
                Địa chỉ giao hàng
            </div>
            <input type="hidden" id="addressId" th:value="${address.get(0).addressId}">
            <div class="card-body" th:object="${address.get(0)}">
                <div class="form-group row">
                    <label for="accountName" class="col-sm-2 col-form-label">Họ và tên:</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="accountName"
                               th:value="${address.get(0).fullName}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mobile" class="col-sm-2 col-form-label">Số điện thoại:</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="mobile"
                               th:value="${address.get(0).phone}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="address" class="col-sm-2 col-form-label">Địa chỉ:</label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" id="address"
                               th:value="|${address.get(0).apartmentNumber}, ${address.get(0).ward}, ${address.get(0).district}|">
                    </div>
                    <div class="col-sm-2">
                        <span class="" disabled>Mặc định</span>
                        <a class="btn btn-custom btn-sm" data-toggle="modal"
                           data-target="#addressModal">Đổi</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addressModalLabel">Chọn địa chỉ</h5>

                </div>
                <div class="modal-body">
                    <ul id="addressList" class="list-group">
                        <!-- Addresses will be loaded here -->
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Add event listener to the change address button
            document.querySelector(".btn.btn-custom.btn-sm").addEventListener("click", function () {
                console.log('Change address button clicked');
                var userId = document.getElementById('userId').value; // Get userId from hidden input
                console.log('User ID:', userId);

                fetch(`http://localhost:8080/api/address/${userId}`)
                    .then(response => {
                        console.log('Fetch response:', response);
                        return response.json();
                    })
                    .then(data => {
                        console.log('Data fetched:', data);
                        // Clear the previous list
                        const addressList = document.getElementById('addressList');
                        addressList.innerHTML = '';

                        // Populate the list with new addresses
                        data.forEach(address => {
                            const listItem = document.createElement('li');
                            listItem.className = 'list-group-item';
                            listItem.textContent = address.fullAddress;

                            // Add an event listener to handle address selection
                            listItem.addEventListener('click', function () {
                                console.log('Address selected:', address);
                                document.getElementById('addressId').value = address.addressId;
                                document.getElementById('accountName').value = address.fullName;
                                document.getElementById('mobile').value = address.phone;
                                document.getElementById('address').value = `${address.apartmentNumber}, ${address.ward}, ${address.district}`;

                                // Close the modal
                                $('#addressModal').modal('hide');
                            });

                            addressList.appendChild(listItem);
                        });
                    })
                    .catch(error => console.error('Error fetching address:', error));
            });
        });
    </script>

    <section class="card-table-body">
        <table>
            <thead>
            <tr style="background-color: black; color: white">
                <th style="color: red">Sản phẩm</th>
                <th>Loại</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Số tiền</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="orderBasket : ${orderBaskets}">
                <td>
                    <div class="card-product"
                         style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                        <img th:src="${orderBasket.combo.comboImage}" alt="Combo Image" style="width: auto;"/>
                        <div class="card-product-name" th:text="${orderBasket.combo.comboName}"></div>
                    </div>
                </td>

                <td>
                    <div class="" th:if="${orderBasket.day} == 7">Gói tuần</div>
                    <div class="" th:if="${orderBasket.day} == 30">Gói tháng</div>
                </td>

                <td>
                    <div class="card-price" th:if="${orderBasket.day} == 7"
                         th:text="${orderBasket.combo.comboPrice7Days}"></div>
                    <div class="card-price" th:if="${orderBasket.day} == 30"
                         th:text="${orderBasket.combo.comboPrice30Days}"></div>
                </td>


                <td>
                    <div class="card-quantity">
                        <span th:text="${orderBasket.quantity}"></span>
                    </div>
                </td>
                <td>
                    <div class="card-totalmoney" th:if="${orderBasket.day} == 7"
                         th:text="${orderBasket.subTotal7Days}"></div>
                    <div class="card-totalmoney" th:if="${orderBasket.day} == 30"
                         th:text="${orderBasket.subTotal30Days}"></div>
                </td>

            </tr>
            </tbody>
        </table>
    </section>
    <section class="card-total-price" style="text-align: right;">
        <table style="width: 100%;">
            <tr>
                <td colspan="2"></td>
                <td style="text-align: right; white-space: nowrap; padding-right: 80px">
                    Tạm tính :
                    <span id="totalAmountTemp" style="margin-left: 10px; font-weight: bold">0 VND</span>
                </td>
            </tr>


        </table>

    </section>
    <section class="container mt-3 p-4" style="background-color: white">
        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-7">
                <form>
                    <div class="form-group row">
                        <div class="col-sm-12 mb-2">
                            <label for="xu" class="d-flex align-items-center">
                                <input type="checkbox" id="xu" name="xu" th:value="${point}"
                                       style="margin-right: 10px;">
                                <span> Nutrimeal point: </span>
                                <span id="currentPoints" th:text="${point}"></span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group row align-items-center mb-2">
                        <label class="col-sm-3 col-form-label"><i class="bi bi-ticket-perforated"></i> NutriMeal Voucher</label>
                        <div class="col-sm-3">
                            <input id="promoCode" class="form-control" placeholder="Nhập mã giảm giá">
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-danger btn-block" id="applyPromoCode">Áp dụng</button>
                        </div>
                    </div>

                    <div class="form-group row mb-2">
                        <label for="deliveryTime" class="col-sm-3 col-form-label"><i class="bi bi-truck"></i>Thời gian
                            giao hàng</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="deliveryTime">
                                <option th:each="deliveryTime : ${deliveryTimes}"
                                        th:value="${deliveryTime.deliveryTimeId}"
                                        th:text="${deliveryTime.deliveryTime}"
                                        th:attr="selected=${deliveryTime.deliveryTime == 1}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row mb-2">
                        <label for="paymentMethod" class="col-sm-3 col-form-label"><i class="bi bi-credit-card"></i>Thanh
                            toán</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="paymentMethod">

                                <option th:each="payment : ${paymentMethods}"
                                        th:value="${payment.paymentMethodId}"
                                        th:text="${payment.paymentMethodName}"
                                        th:attr="selected=${payment.paymentMethodId == 1}"
                                >
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row mb-2">
                        <label for="note1" class="col-sm-3 col-form-label"><i class="bi bi-card-list"></i>Note</label>
                        <div class="col-sm-9">
                        <textarea class="form-control" id="note1" rows="3"
                                  placeholder="Ghi chú về các thành phần bị dị ứng (nếu có)"></textarea>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-4">
                <ul class="list-group" style="width: 350px">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Phí giao hàng
                        <span id="shippingFee" th:text="${shippingFee}"></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Giảm giá
                        <span id="discount">0đ</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Tổng đơn hàng:</strong>
                        <strong id="totalAmount" class="text-danger"></strong>
                    </li>
                </ul>
                <button type="button" class="btn btn-danger btn-lg btn-block mt-3" id="createOrderButton">Đặt hàng
                </button>

                <button type="button" class="btn btn-secondary btn-block mt-2" id="goBackBtn">Trở về</button>
            </div>
        </div>
    </section>
    <div class="modal fade" id="voucherListModal" tabindex="-1" aria-labelledby="voucherListModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="voucherListModalLabel">Available Vouchers</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group" id="voucherList">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="prevPage">Previous</button>
                    <button type="button" class="btn btn-secondary" id="nextPage">Next</button>
                </div>
            </div>
        </div>
    </div>

</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const inputs = document.querySelectorAll('.card-quantity input');
        const priceElements = document.querySelectorAll('.card-price');
        const totalElements = document.querySelectorAll('.card-totalmoney');
        const totalAmountElement = document.getElementById('totalAmount');
        const shippingFeeElement = document.getElementById('shippingFee');
        const discountElement = document.getElementById('discount');
        const promoCodeInput = document.getElementById('promoCode');
        const applyPromoCodeButton = document.getElementById('applyPromoCode');
        const xuCheckbox = document.getElementById('xu');
        const currentPointsElement = document.getElementById('currentPoints');


        let discount = 0;
        let pointsDiscount = 0;
        let currentPoints = parseInt(currentPointsElement.innerText.replace(/[^0-9]/g, ''), 10);

        function formatCurrency(amount) {
            return amount.toLocaleString('vi-VN') + 'đ';
        }

        // Format initial prices and totals
        priceElements.forEach(priceElement => {
            const price = parseInt(priceElement.innerText.replace(/[^0-9]/g, ''), 10);
            priceElement.innerText = formatCurrency(price);
        });

        totalElements.forEach(totalElement => {
            const total = parseInt(totalElement.innerText.replace(/[^0-9]/g, ''), 10);
            totalElement.innerText = formatCurrency(total);
        });

        function updateTotalAmount() {
            let totalAmount = 0;
            totalElements.forEach(totalElement => {
                const total = parseInt(totalElement.innerText.replace(/[^0-9]/g, ''), 10);
                totalAmount += total;
            });

            const shippingFeeElement = document.getElementById('shippingFee');
            const shippingFee = parseInt(shippingFeeElement.innerText, 10) * 1000;
            totalAmount += shippingFee;

            const discountAmount = Math.ceil((totalAmount * discount) / 100 / 1000) * 1000;
            totalAmount -= discountAmount;

            if (xuCheckbox.checked) {
                pointsDiscount = parseInt(xuCheckbox.value, 10) * 100;
            } else {
                pointsDiscount = 0;
            }

            // Giới hạn mức giảm giá bằng điểm chỉ tối đa 70% tổng giá trị thanh toán
            const maxPointsDiscount = Math.ceil((totalAmount + shippingFee) * 0.7 / 1000) * 1000;
            if (pointsDiscount > maxPointsDiscount) {
                pointsDiscount = maxPointsDiscount;
            }


            totalAmount -= pointsDiscount;

            shippingFeeElement.innerText = formatCurrency(shippingFee);
            discountElement.innerText = formatCurrency(discountAmount + pointsDiscount);
            totalAmountElement.innerText = formatCurrency(totalAmount);

            currentPointsElement.innerText = (currentPoints - pointsDiscount / 100).toLocaleString('vi-VN');

        }

        applyPromoCodeButton.addEventListener('click', function () {
            const promoCode = promoCodeInput.value.trim();
            if (promoCode) {
                fetch('/validate-discount-code', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({code: promoCode})
                })
                    .then(response => {
                        if (!response.ok) {
                            return response.json().then(errorData => {
                                throw new Error(errorData.message || 'Network response was not ok');
                            });
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data && !isNaN(data)) {
                            discount = parseInt(data, 10);
                            updateTotalAmount();
                        } else {
                            alert("Mã giảm giá không hợp lệ");
                            discount = 0;
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert(error.message || "Mã giảm giá không hợp lệ");
                        discount = 0;
                    });
            } else {
                discount = 0;
                updateTotalAmount();
            }
        });

        xuCheckbox.addEventListener('change', function () {
            updateTotalAmount();
        });

        // Update total amounts initially
        updateTotalAmount();

        function updateTotalAmountTemp() {
            let totalAmountTemp = 0;
            const totalElements = document.querySelectorAll('.card-totalmoney');
            totalElements.forEach(totalElement => {
                const total = parseInt(totalElement.innerText.replace(/[^0-9]/g, ''), 10);
                totalAmountTemp += total;
            });
            document.getElementById('totalAmountTemp').innerText = formatCurrency(totalAmountTemp);
        }

        updateTotalAmountTemp();


        // kkkkkkkkkkkkkkkk

        function parseVND(value) {
            return parseInt(value.replace(/[^\d]/g, ''));
        }

        function collectFormData() {
            const formData = {
                addressId: document.getElementById('addressId').value,
                orderTempPrice: parseVND(document.getElementById('totalAmountTemp').innerText),
                orderDeliveryPrice: parseVND(document.getElementById('shippingFee').innerText),
                orderDiscount: parseVND(document.getElementById('discount').innerText),
                deliveryTimeId: document.getElementById('deliveryTime').value,
                paymentMethodId: document.getElementById('paymentMethod').value,
                orderNote: document.getElementById('note1').value,
                orderTotalPrice: parseVND(document.getElementById('totalAmount').innerText),
                promotionCode: promoCodeInput.value.trim(),
                pointsDiscount: pointsDiscount
            };

            return formData;
        }

        function sendToApi() {
            const data = collectFormData();
            const paymentMethodId = data.paymentMethodId;

            let url = '';
            if (paymentMethodId === '1') {
                url = '/order/create';
            } else if (paymentMethodId === '2') {
                url = '/order/createvnpay';
            }

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (!response.ok) {
                        return response.text().then(text => {
                            throw new Error(text)
                        });
                    }
                    return response.json();
                })
                .then(data => {
                    if (paymentMethodId === '1') {
                        window.location.href = '/order/confirm/' + data;
                        // window.location.href = '/makeCall/' + data;
                    } else if (paymentMethodId === '2' && data.vnPayUrl) {
                        window.location.href = data.vnPayUrl;
                    }
                })
                .catch((error) => {
                    // Hiển thị thông báo lỗi cho người dùng
                    alert(error.message);
                });
        }

        const orderButton = document.querySelector('#createOrderButton');

        orderButton.addEventListener('click', function () {
            sendToApi();
        });
    });
    let currentPage = 0;
    const pageSize = 12;
    let totalPages = 0;
    let voucherListModal;

    document.getElementById('promoCode').addEventListener('click', function() {
        fetchVouchers(currentPage);
    });

    document.getElementById('prevPage').addEventListener('click', function() {
        if (currentPage > 0) {
            currentPage--;
            fetchVouchers(currentPage);
        }
    });

    document.getElementById('nextPage').addEventListener('click', function() {
        if (currentPage < totalPages - 1) {
            currentPage++;
            fetchVouchers(currentPage);
        }
    });

    function fetchVouchers(page) {
        const apiUrl = `http://localhost:8080/api/promotion?page=${page}&size=${pageSize}`;
        fetch(apiUrl)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Fetched vouchers:', data);
                currentPage = data.number;
                totalPages = data.totalPages;
                clearVoucherList();
                populateVoucherList(data.content);

            })
            .catch(error => console.error('Error fetching vouchers:', error));
    }

    function clearVoucherList() {
        const voucherList = document.getElementById('voucherList');
        voucherList.innerHTML = '';
    }

    function populateVoucherList(vouchers) {
        const voucherList = document.getElementById('voucherList');

        vouchers.forEach(voucher => {
            const li = document.createElement('li');
            li.className = 'list-group-item voucher-item';
            li.setAttribute('data-code', voucher.promotionCode);

            const icon = document.createElement('i');
            icon.className = 'bi bi-tag';
            icon.style.marginRight = '10px';
            icon.style.fontSize = '20px';
            icon.style.color = 'red';
            li.appendChild(icon);

            const textNode = document.createTextNode(`${voucher.promotionCode} - ${voucher.promotionDescription}`);
            li.appendChild(textNode);

            voucherList.appendChild(li);

            li.addEventListener('click', function() {
                if (document.getElementById('promoCode')) {
                    document.getElementById('promoCode').value = voucher.promotionCode;
                }

                if (voucherListModal) {
                    voucherListModal.hide();
                }
            });
        });

        if (!voucherListModal) {
            voucherListModal = new bootstrap.Modal(document.getElementById('voucherListModal'));
        }
        voucherListModal.show();

        document.getElementById('prevPage').disabled = (currentPage === 0);
        document.getElementById('nextPage').disabled = (currentPage === totalPages - 1);
    }
    document.getElementById('goBackBtn').addEventListener('click', function() {
        window.location.href = '/cart'; // Thay đổi đường dẫn tùy theo cấu trúc của trang web của bạn
    });
</script>

</body>

<footer th:replace="~{fragments :: footer}"></footer>

</html>
