<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>Save Employee</title>
</head>

<body>

<div class="container">

    <h3>Employee Directory</h3>
    <hr>
    <p class="h4 mb-4">Save Employee</p>

    <form action="#" th:action="@{/profile/saveAddress}"
          th:object="${address}" method="POST">

        <!-- Addd hidden form field to handle the update -->

        <input type="hidden" th:field="*{addressId}">

        <input type="text" th:field="*{apartmentNumber}"
               class="form-control mb-4 w-25" placeholder="First name">

        <input type="text" th:field="*{ward}"
               class="form-control mb-4 w-25" placeholder="Last name">

        <input type="text" th:field="*{fullName}"
               class="form-control mb-4 w-25" placeholder="Email">

        <input type="text" th:field="*{phone}"
               class="form-control mb-4 w-25" placeholder="Email">

        <input type="text" th:field="*{district}"
               class="form-control mb-4 w-25" placeholder="Email">



        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>

    <a th:href="@{/profile/addresslist}">Back to Employees List</a>

</div>
</body>

</html>






