<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <style>

    </style>
</head>
<body>
<div th:fragment="sidebar-manager" class="body-sidebar">
    <div class="header" style="background: black; padding: 40px">
        <a href="/manager/dashboard" style="display: flex; align-items: center; text-decoration: none;">
            <div class="logo" style="display: flex; align-items: center;">
                <img src="/img/logo.png" alt="NutriMeal" style="height: 60px;">
                <h2 class="text-white mb-0" style="margin-left: 10px; color: white; font-size: 20px;">NutriMeal</h2>
            </div>
        </a>
        <div class="search-bar">
            <button id="toggle-sidebar" style="margin-left: 100px; padding: 16px; border: none; background-color: black; color: white; font-size: 20px; border-radius: 8px;">
                <i class="bi bi-list" style="font-size: 24px;"></i>
            </button>
        </div>
        <div class="user-info">
            <img th:src="${#authentication.principal.image}" alt="User Image">
            <div class="user-details">
                <a th:href="@{/profile/account}" style="text-decoration-line: none;">
                    <p style="color: lightgray; margin-top: 10px">Xin Chào <span class="user-name" th:text="${#authentication.principal.fullName}"></span></p>
                </a>
                <a th:href="@{/logout}" class="logout" style="margin-top: -10px; font-size: 15px;text-decoration: none;">Đăng xuất</a>
            </div>
        </div>
    </div>
    <div class="sidebar" id="sidebar">
        <ul>
            <li class="nav-item item-head" th:classappend="${page == 'manager' ? 'active' : ''}">
                <a th:href="@{/manager/dashboardmanager}">
                    <i class="bi bi-grid opt-head"></i>
                    <span class="sidebar-text opt-head" style="transition: color 0.3s">Dashboard</span>
                </a>
                </li>
            <li class="nav-item item-head" th:classappend="${page == 'mcustomer' ? 'active' : ''}">
                <a th:href="@{/manager/customer}">
                    <i class="bi bi-person opt-head"></i>
                    <span class="sidebar-text opt-head">Quản lý khách hàng</span>
                </a>
            </li>
            <li class="has-submenu item-head" th:classappend="${page == 'dailymenu' || page == 'dish' || page == 'combo' ? 'active' : ''}">
                <a href="#"><i class="bi bi-file-earmark-text opt-head"></i><span class="sidebar-text opt-head">Quản lý thực đơn</span> <i class="bi bi-chevron-down submenu-toggle sidebar-text opt-head"></i></a>
                <ul class="submenu">
                    <li class="nav-item sub-item-head" th:classappend="${page == 'dailymenu' ? 'active' : ''}">
                        <a th:href="@{/manager/dailymenu}">
                            <i class="bi bi-circle-fill" style="font-size: 0.5em; color: #6c757d"></i>
                            <span class="sub-item-head" style="font-size: 13px;"> Thực đơn hàng ngày</span>
                        </a>
                    </li>
                    <li class="nav-item sub-item-head" th:classappend="${page == 'dish' ? 'active' : ''}">
                        <a th:href="@{/manager/dish}">
                            <i class="bi bi-circle-fill" style="font-size: 0.5em; color: #6c757d"></i>
                            <span class="sub-item-head" style="font-size: 13px;">Món ăn</span>
                        </a>
                    </li>
                    <li class="nav-item sub-item-head" th:classappend="${page == 'combo' ? 'active' : ''}">
                        <a th:href="@{/manager/combo}">
                            <i class="bi bi-circle-fill" style="font-size: 0.5em; color: #6c757d"></i>
                            <span class="sub-item-head" style="font-size: 13px;">Combo</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="has-submenu item-head" th:classappend="${page == 'cfOrder' || page == 'listOrder' ? 'active' : ''}">
                <a href="#"><i class="bi bi-card-checklist opt-head"></i><span class="sidebar-text opt-head">Quản lý đơn hàng</span> <i class="bi bi-chevron-down submenu-toggle sidebar-text opt-head"></i></a>
                <ul class="submenu">
                    <li class="nav-item sub-item-head" th:classappend="${page == 'cfOrder' ? 'active' : ''}"><a th:href="@{/manager/order}"><i class="bi bi-circle-fill" style="font-size: 0.5em; color: #6c757d"></i>Xác nhận đơn hàng</a></li>
                    <li class="nav-item sub-item-head" th:classappend="${page == 'listOrder' ? 'active' : ''}"><a th:href="@{/manager/listorder}"><i class="bi bi-circle-fill" style="font-size: 0.5em; color: #6c757d"></i>Danh sách đơn hàng</a></li>
                </ul>
            </li>
            <li class="has-submenu item-head" th:classappend="${page == 'notdeli' || page == 'inTran'  || page == 'failOrder'  || page == 'delivered' ?  'active' : ''}">
                <a href="#"><i class="bi bi-truck opt-head"></i><span class="sidebar-text opt-head">Quản lý giao hàng</span> <i class="bi bi-chevron-down submenu-toggle sidebar-text opt-head"></i></a>
                <ul class="submenu">
                    <li class="nav-item sub-item-head" th:classappend="${page == 'notdeli' ? 'active' : ''}"><a th:href="@{/manager/delivery/notdelivered}"><i class="bi bi-circle-fill" style="font-size: 0.5em; color: #6c757d"></i>Đơn chưa giao</a></li>
                    <li class="nav-item sub-item-head" th:classappend="${page == 'inTran' ? 'active' : ''}"><a th:href="@{/manager/delivery/intransit}"><i class="bi bi-circle-fill" style="font-size: 0.5em; color: #6c757d"></i>Đơn đang giao</a></li>
                    <li class="nav-item sub-item-head" th:classappend="${page == 'delivered' ? 'active' : ''}"><a th:href="@{/manager/delivery/delivered}"><i class="bi bi-circle-fill" style="font-size: 0.5em; color: #6c757d"></i>Đơn giao thành công</a></li>
                    <li class="nav-item sub-item-head" th:classappend="${page == 'failOrder' ? 'active' : ''}"><a th:href="@{/manager/delivery/deliveryfailed}"><i class="bi bi-circle-fill" style="font-size: 0.5em; color: #6c757d"></i>Đơn giao thất bại</a></li>
                    <li class="nav-item sub-item-head" th:classappend="${page == 'delay' ? 'active' : ''}"><a th:href="@{/manager/delivery/delayed}"><i class="bi bi-circle-fill" style="font-size: 0.5em; color: #6c757d"></i>Đơn hoãn</a></li>
                </ul>
            </li>
            <li class="nav-item item-head" th:classappend="${page == 'expense' ? 'active' : ''}"><a th:href="@{/manager/expense}"><i class="bi bi-table opt-head"></i> <span class="sidebar-text opt-head">Quản lý chi tiêu</span></a></li>
            <li class="nav-item item-head" th:classappend="${page == 'promotion' ? 'active' : ''}"><a th:href="@{/manager/promotion}"><i class="bi bi-star opt-head"></i> <span class="sidebar-text opt-head">CTKM</span></a></li>
        </ul>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Sidebar toggle functionality
    document.getElementById('toggle-sidebar').addEventListener('click', function() {
        var sidebar = document.getElementById('sidebar');
        sidebar.classList.toggle('collapsed');
    });

    document.addEventListener('DOMContentLoaded', function() {
        var submenuToggles = document.querySelectorAll('.has-submenu > a');
        submenuToggles.forEach(function(submenuToggle) {
            submenuToggle.addEventListener('click', function(e) {
                e.preventDefault();
                var submenu = this.nextElementSibling;
                submenu.classList.toggle('open');
            });
        });

        // Add event listeners to sidebar items
        var sidebarItems = document.querySelectorAll('.sidebar ul li');
        sidebarItems.forEach(function(item) {
            item.addEventListener('click', function() {
                // Remove 'active-li' class from all items
                sidebarItems.forEach(function(item) {
                    item.classList.remove('active-li');
                });
                // Add 'active-li' class to the clicked item
                this.classList.add('active-li');
            });
        });
    });
</script>

<!--shipper-->

<div th:fragment="sidebar-shipper" class="body-sidebar">
    <div class="header" style="background: black; padding: 40px">
        <a href="/shipper/dashboardShipper" style="display: flex; align-items: center; text-decoration: none;">
            <div class="logo" style="display: flex; align-items: center;">
                <img src="/img/logo.png" alt="NutriMeal" style="height: 60px;">
                <h2 class="text-white mb-0" style="margin-left: 10px; color: white; font-size: 20px;">NutriMeal</h2>
            </div>
        </a>
        <div class="search-bar">
            <button id="toggle-sidebar-shipper" style="margin-left: 100px; padding: 16px; border: none; background-color: black; color: white; font-size: 20px; border-radius: 8px;">
                <i class="bi bi-list" style="font-size: 24px;"></i>
            </button>
        </div>
        <div class="user-info">
            <img th:src="${#authentication.principal.image}" alt="User Image">
            <div class="user-details">
                <a th:href="@{/profile/account}" style="text-decoration-line: none;">
                    <p style="color: lightgray; margin-top: 10px">Xin Chào <span class="user-name" th:text="${#authentication.principal.fullName}"></span></p>
                </a>
                <a  th:href="@{/logout}" class="logout" style="margin-top: -10px; font-size: 15px;text-decoration: none;">Đăng xuất</a>
            </div>
        </div>
    </div>

    <div class="sidebar" id="sidebar_shipper">
        <ul>
            <li class="nav-item item-head" th:classappend="${page == 'shipper' ? 'active' : ''}">
                <a th:href="@{/shipper/dashboardShipper}">
                    <i class="bi bi-grid opt-head"></i>
                    <span class="sidebar-text opt-head" style="transition: color 0.3s">Dashboard</span>
                </a>
            </li>

            <li class="nav-item item-head" th:classappend="${page == 'notdeli' ? 'active' : ''}">
                <a th:href="@{/shipper/orderNotYetDelivery}">
                    <i class="bi bi-card-checklist opt-head"></i>
                    <span class="sidebar-text opt-head">Đơn hàng chưa giao</span>
                </a>
            </li>
            <li class="nav-item item-head" th:classappend="${page == 'beingDelivery' ? 'active' : ''}">
                <a th:href="@{/shipper/beingDelivery}">
                    <i class="bi bi-truck opt-head"></i>
                    <span class="sidebar-text opt-head"> Đơn hàng đang giao</span>
                </a>
            </li>
            <li class="nav-item item-head" th:classappend="${page == 'delivered' ? 'active' : ''}">
                <a th:href="@{/shipper/delivered}">
                    <i class="bi bi-check-circle opt-head"></i>
                    <span class="sidebar-text opt-head">Đơn giao thành công</span>
                </a>
            </li>
            <li class="nav-item item-head" th:classappend="${page == 'deliveryfailed' ? 'active' : ''}">
                <a th:href="@{/shipper/deliveryfailed}">
                    <i class="bi bi-x-circle opt-head"></i>
                    <span class="sidebar-text opt-head">Đơn giao thất bại</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script>
    // Sidebar toggle functionality
    document.getElementById('toggle-sidebar-shipper').addEventListener('click', function() {
        var sidebar = document.getElementById('sidebar_shipper');
        sidebar.classList.toggle('collapsed');
    });
</script>


<!--ADMIN-->

<div th:fragment="sidebar-admin" class="body-sidebar">
    <div class="header" style="background: black; padding: 40px; display: flex; justify-content: space-between; align-items: center;">
        <a href="/admin/dashboard" style="display: flex; align-items: center; text-decoration: none;">
            <div class="logo" style="display: flex; align-items: center;">
                <img src="/img/logo.png" alt="NutriMeal" style="height: 60px;">
                <h2 class="text-white mb-0" style="margin-left: 10px; color: white; font-size: 20px;">NutriMeal</h2>
            </div>
        </a>
        <div class="user-info" style="display: flex; align-items: center;">
            <img th:src="${#authentication.principal.image}" alt="User Image" style="height: 40px; border-radius: 50%;">
            <div class="user-details" style="margin-left: 10px;">
                <a th:href="@{/profile/account}" style="text-decoration-line: none;">
                    <p style="color: lightgray; margin: 0;">Xin Chào <span class="user-name" th:text="${#authentication.principal.fullName}"></span></p>
                </a>
                <a th:href="@{/logout}" class="logout" style="font-size: 15px; text-decoration: none; color: lightgray;">Đăng xuất</a>
            </div>
        </div>
    </div>


</div>
</body>
</html>
