.opt-head:hover {
    color: #cccccc; /* Màu thay đổi khi di chuột qua */
    font-weight: bold; /* Chữ đậm khi di chuột qua */
}
.opt-head{
    padding-bottom: 0px;
}
.item-head.active .opt-head {
    font-weight: bold; /* Chữ đậm cho mục được chọn */
    color: white;
}
/*.frag-head{*/
/*    padding-bottom: 0px;*/
/*}*/

.user-info {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 70px;
}
.user-info img {
    border-radius: 50%;
    border: 2px solid white;
    width: 47px;
    height: 47px;
    margin-right: 10px;
}
.user-details {
    display: flex;
    flex-direction: column;
}
.user-name {
    color: red; /* Red color for the name */
    font-weight: bold;
}
.logout {
    color: white; /* Light text color */
    text-decoration: underline;
    margin-top: 5px;
}