<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head('NutriMeal', 'none')"></head>
<body>
<div style="text-align: center;">

    <header th:replace="~{fragments/header :: header}"></header>


    <button class="btn btn-primary">Test Button</button>


            <h1 sec:authorize="isAnonymous()">Xin chao vo danh</h1>
            <h1 sec:authorize="isAuthenticated()">Xin chao</h1>
            <h1 sec:authorize="isAuthenticated()">Tam bien</h1>

</div>
</body>
</html>