<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/listorder.css" />
  </head>
  <body>
    <section class="list-order">
      <div class="list-order-item">
        <table>
          <thead>
            <tr>
              <th>Order ID</th>
              <th>Combo</th>
              <th>Quantity</th>
              <th>Address</th>
              <th>Date</th>
              <th>Total Price</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Combo Lunch</td>
              <td>1</td>
              <td>hoa lac</td>
              <td>5/23/2024</td>
              <td>120$</td>
              <td>Done</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Combo Lunch</td>
              <td>1</td>
              <td>hoa lac</td>
              <td>5/23/2024</td>
              <td>120$</td>
              <td>Done</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Combo Lunch</td>
              <td>1</td>
              <td>hoa lac</td>
              <td>5/23/2024</td>
              <td>120$</td>
              <td>Done</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Combo Lunch</td>
              <td>1</td>
              <td>hoa lac</td>
              <td>5/23/2024</td>
              <td>120$</td>
              <td>Done</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Combo Lunch</td>
              <td>1</td>
              <td>hoa lac</td>
              <td>5/23/2024</td>
              <td>120$</td>
              <td>Done</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </body>
</html>
