<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head('Login', 'none')}"></head>
<body>
<header th:replace="~{fragments :: header-fragment}"></header>

<div class="container mt-5">
    <h1 class="text-center">ĐĂNG NHẬP</h1>

    <div class="row justify-content-center">
        <div class="col-md-3">
            <!-- Thẻ card bắt đầu ở đây -->
            <div class="card mb-5">
                <div class="card-body">
                    <form action="#" th:action="@{/login}" th:object="${LoginRequest}" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>

                        <div class="form-group form-check mt-1">
                            <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me">
                            <label class="form-check-label" for="remember-me">Remember me</label>
                        </div>

                        <div th:if="${param.error}" class="alert alert-danger mt-2" role="alert">
                            <span>Tên tài khoản hoặc mật khẩu không chính xác!</span>
                        </div>

                        <div class="text-center mt-2 mb-3">
                            <button type="submit" class="btn btn-primary">Đăng nhập</button>
                        </div>

                    </form>
                </div>
            </div>
            <!-- Thẻ card kết thúc ở đây -->
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>
</body>

</html>