<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head('Signup', 'none')}">




    <style>
        body {
            height: 100px;
        }

        .form-signup {
            margin-top: 100px;
            /*margin-bottom: 500px;*/
        }
    </style>

</head>


<body>
<header th:replace="~{fragments :: header}"></header>

<form action="#" th:action="@{/signup}" th:object="${SignupRequest}" method="post">
    <div class="container form-signup">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="">Đăng ký</div>

                <div th:if="${errorMessage}" class="alert alert-danger" role="alert"><span
                        th:text="${errorMessage}"></span></div>
                <div th:if="${successMessage}" class="alert alert-success" role="alert"><span
                        th:text="${successMessage}"></span></div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                           placeholder="Email" th:field="*{email}" required>

                </div>
                <div class="form-group">
                    <label for="fullname">Họ và tên</label>
                    <input type="text" class="form-control" id="fullname" placeholder="Họ và tên" th:field="*{fullName}"
                           required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Mật khẩu"
                           th:field="*{password}" required>
                </div>
                <div class="form-group">
                    <label for="password">Re Password</label>
                    <input type="password" class="form-control" id="repassword" placeholder="Xác nhận mật khẩu"
                           required>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </div>
<!--            <div class="col-md-4"></div>-->

        </div>
    </div>
</form>

<footer th:replace="~{fragments :: footer}"></footer>
</body>

</html>